<%- include('../partials/head') %>
<%- include('../partials/usernavbar') %>
<div class="container-fluid">
<div class="row">
<div class="col-md-4 text-center" style="background:#eee">
<div class="container">
<img class="m-t" style="border-radius:50%;border:1px solid black;width:50%" src="/uploads/<%= forum.userPP %>"><br>
<%= forum.user %>
</div>
</div>
<div class="col-md-8 forum">
<h4 class="m-t"><%= forum.title %></h4>
<label><%= forum.description %></label>
<h5>Kod</h5>
<pre><%= forum.code %></pre>
</div>
</div>
<% comment.forEach( comment => { %>
<div class="row">
<div class="col-md-4 text-center" style="background:#eee">
<div class="container">
<img class="m-t" style="border-radius:50%;border:1px solid black;width:50%" src="/uploads/<%= comment.userPP %>"><br>
<%= comment.title %>
</div>
</div>
<div class="col-md-8 comment">
<label><%= comment.description %></label>

</div>
</div>
<% }) %>
<div class="container-fluid" style="background:#eee;padding-bottom:2vh;">
<div class="container">
<h5>Yardımda Bulun</h5>
<form method="POST" action="/add/comment/<%= forum._id %>">
<textarea class="form-control" id="comment" name="comment"></textarea>
<input type="submit" class="m-t btn btn-dark">
</form>
</div>
</div>
</div>
